body{
    max-width: 1024px;
    margin: auto;
    
}

main{
    min-height: 90vh;
}

/* Titulo principal */
#titulo{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    height: 2em;
    font-size: 2em;
    padding: 20px 10px;
}

/* Listado de alumnos */
#personas>li{
    background-color: gray;
}

.nombre-personas{
    font-size: 25px;
    text-align: center;
    padding: 0.5em 0;
}

.imagen-personas{
    padding-left: 0; 
}
.iconos-personas{
    font-size: 25px;
    padding: 0.4em 0;
}

/* Formulario */
.formulario{
    padding: 10px;
    border:1px solid black;
    height: 400px;
}

#inputNombre, #inputId{
    width: 100%;
}

#gallery img{
    filter: grayscale(100%);
}

#gallery img.selected {
    border:3px solid rgb(22, 151, 236);
    filter: grayscale(0);
}

.iconos-formularios i{
    font-size: 40px;
}

/* Formulario cursos de la persona */
.formulario-cursos{
    padding: 10px;
    border:1px solid black;
    min-height: 250px;
}

/* Footer*/
.pie{
    background-color: cornflowerblue;
    padding: 0.5rem;
    margin-top: 1rem;
    border-top: 10rem;
}

.copyright{
    font-size: 1rem;
}

.redes-sociales{
    font-size: 2rem;
}
