h1{
    color: white;
    background-color: rgb(0, 81, 255);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.menu{
    max-width: 1024px;
    margin: auto;
    background-color: green;
}

.buscador{
    background-color:gray;
    padding: 1rem;
    border: 1px solid black;
    margin-left: 1rem;
    margin-right: 1rem;
}

.buscador>p{
    margin-bottom: 1rem;
}

li{
    border: 1px solid black;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#alumnos>li>img{
    width: 5rem;
    border: 2px solid black;
}

footer{
    margin: 2rem 0 1rem 1rem;
}